<html>
<head>
<h1>REAL-LIFE QUOTES</h1>
<div id="quote-box">
  <p id="text"></p>
  <p id="author"></p>

  <button id="new-quote" class="button" style="vertical-align:middle"><span>New Quote </span></button>
</div>

<body>
<style>
  * {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Noto Serif JP', sans-serif;
}

body {
  background-color: #99ffff;
}

h1 {
  font-size: 3em;
  padding: 1em;
}

#quote-box {
  border: 3px solid black;
  border-radius: 15px;
  width: 80%;
  margin: auto;
  height: auto;
  padding: 3em 0px;
  background-color: white;
  margin-bottom: 1em;
}

#text {
  max-width: 90%;
  margin: auto;
  font-size: 150%;
  font-style: italic;
}

#author {
  font-size: 20px;
  font-weight: bold;
  padding: 1em 0em;
}

#new-quote {
  margin: 0em 1em;
}

#tweet-quote {
  margin: 0em 1em;
}

@media screen and (max-width: 650px) {

  h1 {
    font-size: 3em;
    width: 100%;
    padding: 0.5em 0px;
  }

  #quote-box {
    width: 97%;
    padding: 1.3em;
  }

  #text {
    font-size: 1.5em;
  }

  #author {
    font-size: 1.3em;
  }

</style>

<style>
  .button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 210px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>

</body>

<body>
<script type="text/javascript">
  $(document).ready(function() {
  //BELOW IS THE API FOR REAL LIFE QUOTES
  var api = "https://gist.githubusercontent.com/mm01575/9344c475e5b16bf65ba4461f3653059a/raw/36ad45d8798ec39bff0136bf0d0240f69f547a57/real_life_quotes.json"
  var randomNum;
  var quote;
  var author;

  $.getJSON(api, function(data) {

    function getQuote() {
      randomNum = Math.floor(Math.random()*data.quotes.length);
      quote = data.quotes[randomNum].quote;
      $("#text").html('"' + quote + '"');
      author = data.quotes[randomNum].author;
      $("#author").html(author);
    }

    getQuote();
    $("#new-quote").on("click", function() {
      getQuote();
    })
    $("#tweet-quote").on("click", function() {
      $("#tweet-quote").attr("href", "https://twitter.com/intent/tweet?text=" + quote + " " + " - " + author);
    })
  })
});
</script>

<script>

</script>
</body>


<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
a {
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  color: black;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.back {
  background-color: #f1f1f1;
  color: black;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
</style>
</head>

<body>
<p>
  <a id="tweet-quote" href="twitter.com/intent/tweet" target="_blank" title="Tweet this quote!" class="fa fa-twitter"></a>
</p>

<p>
</p>

<a href='<%= quote_preference_path() %>' class="back">&laquo; Back</a>

</body>

</head>
</html>
